body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
}

h4 {
    font-size: 22px;
}
.main-background {
    background-image: linear-gradient(to bottom, #499add, #4e61c0);
    height: 550px;
    padding: 20px;
    color: white;
}
.main-container {
    max-width: 1200px;
    margin: auto;
}
.main-text {
  float: left;
  margin-top: 50px;
}
.main-iphone {
    width: 400px;
    float: right;
    margin-top: 95px;
}
.btn {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-black {
    background: #444;
    color: white;
}
.service {
    background-color: #4e61c0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 60px 30px 50px 30px;
}

.service-items {
    display: flex;
}

.service-items div {
    width: 25%;
}
.service h5 {
    margin-bottom: 0px;
}

.service-icon {
    background: white;
    color: #4e61c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 15px;
}
.service {
    background-color: #4e61c0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 60px 30px 50px 30px;
}

.service-items {
    display: flex;
}

.service-items div {
    width: 25%;
}

.service-icon {
    background: white;
    color: #4e61c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 20px;
}
@media screen and (max-width : 992px) {
    .main-iphone {
        height: 300px;
        width: 300px;
        display: block;
        float: none;
        margin: auto;
        margin-top: 35px;
    }
    .main-text {
        float: none;
        margin-top: 50px;
        text-align: center;
    }
}
@media screen and (max-width : 992px) {
    .service-items {
        display: flex;
        flex-direction: column;
    }

    .service-items div {
        width: 100%;
    }
}